.ProjectItemsColumn {
    padding-left: 0
}

@media (max-width: 768px) {
    .ProjectItemsColumn {
        padding: 0
    }

    .ProjectItems {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.ProjectItems {
    padding: 0;
    list-style: none;
    margin-bottom: 50px;
    position: sticky;
}

.project-category {
    user-select: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px 12px;
    margin-bottom: 25px;
    background: transparent;
    border: 3px dashed rgba(255, 255, 255, 0.274);
    &:last-child {
        margin-bottom: 0;
    }

    transition: border 300ms ease-in-out,
        margin 300ms ease-in-out;

    &.selected {
        border: 3px solid white;
        margin-bottom: 50px;

        h2 {
            opacity: 1;
        }
    }

    &:hover {
        border-color: white;

        h2 {
            /* opacity: 1; */
        }
    }

    h2 {
        margin: 0;
        /* opacity: 0.5; */

        > span {
            float: right;
            opacity: 0.5;
        }
    }
}
